@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 65%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/






/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
main {
  background-color: #fff;
}

.amazing-artical {
  position: relative;
  display: flex;
  transform: translateX(-183px);
}

.hamburger,.cross {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 12%;
  border-radius: 0 0 100px 0;
  display: flex;
  align-items: center;
  background-color: #FF7979;
  text-indent: -9999px;
  transition: all ease-in-out 2s;
  z-index: 1;
}

.hamburger::before,.cross::before {
  content: "\f0c9";
  margin-left: 26%;
  float: right;
  font-family: "fontAwesome";
  font-size: 27px;
  color: #fff;
  cursor: pointer;
  text-indent: 0;
}

.cross::before {
  content: "\f00d";
}

.menus {
  width: 12%;
  height: 100%;
  padding-top: 56%;
  position: absolute;
  background-color: #000;
  box-sizing: border-box;
  transition: all ease-in-out 1s;
}

.menus ul li{
  margin-top: 35%;
  display: block;
  text-align: right;
}

.amazing-artical .wrapper {
  padding: 6.8% 0;
}

.right {
  margin-left: 12%;
  background-color: #fff;
  transition: all ease-in-out 1s;
}

.amazing-artical h2 {
  font-size: 31px;
  font-weight: bold;
}

.florin {
  font-size: 14px;
  font-style: italic;
  opacity: 0.7;
}

.amazing-artical p {
  margin-top: 21px;
  font-size: 15px;
  line-height: 23px;
}

.amazing-artical h3 {
  margin-top: 54px;
  font-size: 18px;
  font-weight: bold;
}

.amazing-artical figure {
  margin-top: 19px;
}


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  